/*  */
*{
    margin: 0;
}

body{
    background-color: #F3F3F3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20000px;
}

.landing{
    height: 95vh;
    position: relative;
}

.landing .title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-size: 28px;
}

.landing .mouse{
    position: absolute;
    width: 25px;
    border-radius: 22px;
    height: 50px;
    border: 1px solid #000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}
.landing .mouse::before{
    content: "";
    position: absolute;
    width: 1.3px;
    height: 15px;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
    top: 18%;
}

section.about-me{
    position: relative;
    background-color: #7510F7;
    color: #fff;
    padding: 50px;
}
.about-me .title h1{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.about-me .description{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.about-me .description p{
    max-width: 100%;
    text-align: center;
}